@import "compass/css3";

@keyframes opacity
{
	from{
		opacity:0;
		
	}
	to 
	{
		opacity:1;
		
	}
}


@keyframes move1
{
	from{
		opacity:0;
		transform: translate(0,790px);
		-moz-transform: translate(0,790px); 
		-webkit-transform: translate(0,790px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@-webkit-keyframes move1
{
	from{
		opacity:0;
		transform: translate(0,790px);
		-moz-transform: translate(0,790px); 
		-webkit-transform: translate(0,790px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@-moz-keyframes move1
{
	from{
		opacity:0;
		transform: translate(0,790px);
		-moz-transform: translate(0,790px); 
		-webkit-transform: translate(0,790px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@keyframes move2
{
	from{
		opacity:0;
		transform: translate(0,575px);
		-moz-transform: translate(0,575px); 
		-webkit-transform: translate(0,575px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@keyframes move3
{
	from{
		opacity:0;
		transform: translate(0,575px);
		-moz-transform: translate(0,575px); 
		-webkit-transform: translate(0,575px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@keyframes move4
{
	from{
		opacity:0;
		transform: translate(0,470px);
		-moz-transform: translate(0,470px); 
		-webkit-transform: translate(0,470px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}


@keyframes move5
{
	from{
		opacity:0;
		transform: translate(0,345px);
		-moz-transform: translate(0,345px); 
		-webkit-transform: translate(0,345px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@-webkit-keyframes move5
{
	from{
		opacity:0;
		transform: translate(0,345px);
		-moz-transform: translate(0,345px); 
		-webkit-transform: translate(0,345px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}

@keyframes move6
{
	from{
		opacity:0;
		transform: translate(0,220px);
		-moz-transform: translate(0,220px); 
		-webkit-transform: translate(0,220px);
	}
	to 
	{
		opacity:1;
		transform: translate(0,0);
		-moz-transform: translate(0,0); 
		-webkit-transform: translate(0,0);
	}
}



@keyframes gear
{
	from{
		transform:rotate(0); 
		-moz-transform:rotate(0); 
		-webkit-transform: rotate(0); 
		-o-transform: rotate(0); 
	}
	to 
	{
		transform:rotate(360deg); 
		-moz-transform:rotate(360deg); 
		-webkit-transform: rotate(360deg); 
		-o-transform: rotate(360deg); 
	}
}

@keyframes gear2
{
	from{
		transform:rotate(0); 
		-moz-transform:rotate(0); 
		-webkit-transform: rotate(0); 
		-o-transform: rotate(0); 
	}
	to 
	{
		transform:rotate(-360deg); 
		-moz-transform:rotate(-360deg); 
		-webkit-transform: rotate(-360deg); 
		-o-transform: rotate(-360deg); 
	}
}

@keyframes gearr
{
	from{
		transform:rotate(-45deg); 
		-moz-transform:rotate(-45deg); 
		-webkit-transform: rotate(-45deg); 
		-o-transform: rotate(-45deg); 
	}
	to 
	{
		transform:rotate(-45deg); 
		-moz-transform:rotate(-45deg); 
		-webkit-transform: rotate(-45deg); 
		-o-transform: rotate(-45deg); 
	}
}

@keyframes logrotatet{
	from{
		transform:rotateX(25deg); 
		-moz-transform:rotateX(25deg); 
		-webkit-transform:rotateX(25deg); 
		-o-transform:rotateX(25deg);  
	}
	to 
	{
		transform:rotateX(0deg); 
		-moz-transform:rotateX(0deg); 
		-webkit-transform:rotateX(0deg); 
		-o-transform:rotateX(0deg);  
	}
}

@keyframes logrotateT{
	from{
		transform:rotateX(0deg); 
		-moz-transform:rotateX(0deg); 
		-webkit-transform:rotateX(0deg); 
		-o-transform:rotateX(0deg);  
	}
	to 
	{
		transform:rotateX(25deg); 
		-moz-transform:rotateX(25deg); 
		-webkit-transform:rotateX(25deg); 
		-o-transform:rotateX(25deg);  
	}
}

@keyframes logrotateb{
	from{
		transform:rotateX(-25deg); 
		-moz-transform:rotateX(-25deg); 
		-webkit-transform:rotateX(-25deg); 
		-o-transform:rotateX(-25deg);  
	}
	to 
	{
		transform:rotateX(0deg); 
		-moz-transform:rotateX(0deg); 
		-webkit-transform:rotateX(0deg); 
		-o-transform:rotateX(0deg);  
	}
}

@keyframes logrotateB{
	from{
		transform:rotateX(0deg); 
		-moz-transform:rotateX(0deg); 
		-webkit-transform:rotateX(0deg); 
		-o-transform:rotateX(0deg);  
		 
	}
	to 
	{
		transform:rotateX(-25deg); 
		-moz-transform:rotateX(-25deg); 
		-webkit-transform:rotateX(-25deg); 
		-o-transform:rotateX(-25deg);   
	}
}

@keyframes logpic{
	from{
		height:772px;
	}
	to 
	{
		height:728px; 
	}
}

@keyframes logpicc{
	from{
		height:728px;
	}
	to 
	{
		height:772px; 
	}
}

@keyframes monit1{
	from{
		transform:translate(20px,390px);
		-moz-transform:translate(20px,390px);
		-webkit-transform:translate(20px,390px);
		-o-transform:translate(20px,390px);
	}
	to 
	{
		transform:translate(0,0);
		-moz-transform:translate(0,0);
		-webkit-transform:translate(0,0);
		-o-transform:translate(0,0);
	}
}

@keyframes monit11{
	from{
		transform:translate(0,0);
		-moz-transform:translate(0,0);
		-webkit-transform:translate(0,0);
		-o-transform:translate(0,0); 
	}
	to 
	{
		transform:translate(20px,390px);
		-moz-transform:translate(20px,390px);
		-webkit-transform:translate(20px,390px);
		-o-transform:translate(20px,390px);
	}
}

@keyframes monit2{
	from{
		transform:translate(10px,195px);
		-moz-transform:translate(10px,195px);
		-webkit-transform:translate(10px,195px);
		-o-transform:translate(10px,195px);
	}
	to 
	{
		transform:translate(0,0);
		-moz-transform:translate(0,0);
		-webkit-transform:translate(0,0);
		-o-transform:translate(0,0);
	}
}

@keyframes monit22{
	from{
		transform:translate(0,0);
		-moz-transform:translate(0,0);
		-webkit-transform:translate(0,0);
		-o-transform:translate(0,0);
	}
	to 
	{
		transform:translate(10px,195px);
		-moz-transform:translate(10px,195px);
		-webkit-transform:translate(10px,195px);
		-o-transform:translate(10px,195px);
	}
}

@mixin trans{
  transition:1s;
}

@keyframes navrotate{
	from{
		transform:rotateY(0deg); 
		-moz-transform:rotateY(0deg); 
		-webkit-transform:rotateY(0deg); 
		-o-transform:rotateY(0deg);  
	}
	to 
	{
		transform:rotateY(360deg); 
		-moz-transform:rotateY(360deg); 
		-webkit-transform:rotateY(360deg); 
		-o-transform:rotateY(360deg); 
	}
}

@keyframes seamless{
	from{
		left:0;
	}
	to
	{
		left:-330px;
	}
}

@-webkit-keyframes seamless{
	from{
		left:0;
	}
	to
	{
		left:-330px;
	}
}

@-moz-keyframes seamless{
	from{
		left:0;
	}
	to
	{
		left:-330px;
	}
}

@-o-keyframes seamless{
	from{
		left:0;
	}
	to
	{
		left:-330px;
	}
}