@import "compass/css3";
@import "compass/css3/border-radius";
@charset "utf-8";

$font-family:'微软雅黑' !default;

$fontW:'微软雅黑',"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;

$fontF:'方正兰亭超细黑简体';

$fontc:'方正兰亭超细黑';

$fontG1:'方正兰亭纤黑_GBK';

$fontG2:'方正兰亭中黑_GBK';

$color:#fff !default;
$className:active;


*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}

a{
  text-decoration: none;
  color:$color;
}

li{
  list-style:none;
  overflow: hidden;
}

input,button,select,textarea{outline:none}
textarea{resize:none}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@mixin headText{
  font-family:$fontW;
  color:#e6e3e3;
  font-size: 14px;
  text-align: center;
 
}

@mixin lineunder{
  width: 50px;
  height:4px;
  margin:25px auto 0;
}

@mixin Radiu{
  border-radius:5px;
  border:1px solid #fff;
}

@mixin radius{
  border-radius:5px;
 
}

@mixin serviceText{
  font-family: $fontW;
  text-align: center;
}

@mixin namic{
  width:140px;
  height:140px;
  position: absolute;
  right:0;
  bottom:0;
}

@mixin btnn{
  width:70px;
  height:70px;
  margin-top:165px;
  cursor: pointer;
}

@mixin serverpic{
  text-align: center;
  font-family: $fontW;
  font-size: 14px;
  color: #000;
  background:#318fbb;
}

@mixin round{
  border-radius:100%;
}

@mixin sectionFoot{
  font-size: 20px;
  width:150px;
  height:50px;
  line-height: 45px;
  font-family:$fontW;
  white-space:pre;
  text-align:center;
  display:block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

body{

  font-family:$font-family;
  font-size: 14px;
  color:$color;
  overflow-x:hidden;

  .site-bg-canvas{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
  }

  .header{
    width:100%;
    height:60px;
    

   .container{
      overflow: visible !important;
      
      .logo{
        width:40px;
        height:40px;  
        background:url('../images/ZKlogo.png')no-repeat;
        background-size:contain;
        margin:10px 10px auto auto;

      }
      
      .headbar{
          height:40px; 
          margin:10px 50px auto auto;
          width:100px;
          text-align: center;
          color:#fff;
          
          &.#{$className}{
            color:#14adc4;
          }


        .top{
          line-height: 20px;
          font-family: $fontW;
          font-size: 16px;
         }

        .bot{
          line-height: 20px;
          font-family: $fontW;
          font-size:  16px;
        
        }
      }

      .logInOut{
        margin:0px 20px;

        &>li{
          @include headText;
          float:left;
          margin:12px 5px;
          height:36px;
          

          &>a{
            
            @include Radiu;
            height:34px;
            line-height: 34px;
            display:block;
            padding:0 20px;
            
            &.#{$className}{
              color:#e6e3e3;
              background:#14adc4;
              border:0 none;
            }
          }
        }
      }

      .search{
        @include Radiu;
        border:0 none;
        height:36px;
        margin-top:12px;
      
        &>input[type="search"]{
          width:150px;
          height:100%;
          background:#fff url('../images/s1.png')no-repeat 8px center;
          background-size:20px 20px;
          border:0 none;
          float:left;
          text-indent:45px;
        }

        &>a{
          width:36px;
          height:100%;
          float:left;
          background:#14adc4 url('../images/sr.png')no-repeat center center;
          background-size:25px 25px;
          font-family:$fontW;
          color:#898989;
          display:block;
        }
      }

      .navHead{
        height:100%;
            

        &>li{
          @include headText;
          overflow: visible;
          position: relative;
          float:left;
          

          &>a{
            @include Radiu;
            border:0 none;
            height: 100%;
            line-height: 60px;
            display:block;
            padding:0 10px;
            margin:0 10px;
            color:#e6e3e3;
            
            &.active{
              color:#14adc4;
            }

            
          }
            
          .navSection{
            padding:5px 0;
            margin-top:0px;
            position:absolute;
            z-index:99;
            width:100%;
            display:none;
            background:rgba(17,17,17,0.9);
                
            
            &>ul{

              &>li{
                line-height:36px;
                font-size: 14px;
                font-family:$fontW;

                &>a{
                  color:#fff;  

                  &:hover{
                    color:#2176da;
                    
                  }

                  &.active{
                    color:#14adc4;
                  }

                }
              }

            }
                
          }

       }

      

        
      }
      
      
      .reglog{
        height: 60px;
        line-height:60px;
        color:#e6e3e3;
        font-size: 14px;
        background:url('../images/reglog.png')no-repeat center right;
        background-size:20px 20px; 
        padding-right:35px;
      }
    } 
  
  
    
  }
  
  .service{
    width:100%;
    background: #0b2f47;
    overflow: hidden;

    .container{

      .serviceTop{
         margin:10px auto 0px;

        .serviceTitle{
          @include serviceText;
          font-size:16px;
          
        }

        .serviceBody{
          @include serviceText;
          font-size:14px;
          
          li{
            margin-top:10px;
            
            
            a{
              color:#abbac4;
              &:hover{
                color:#fff;
              }
            }
          }
        }

        .ma{
          width:70px;
          height:70px;
          margin:20px auto 20px;

          &>img{
            width:100%;
            height: 100%;
          }
        }
      }

      .serviceBot{
        margin:10px auto 0px;
    
        &>li.language{
          color:#fff;
          font-size: 16px;
          font-family:$fontW;
          text-align: center;
          
        } 

        .serviceTitle{
          @include serviceText;
          font-size:16px;
          color:#fff;
        }

        .serviceBody{
          @include serviceText;
          font-size:14px;
          
          li{
            margin-top:10px;
            
            &>a{
              color:#abbac4;

              
              &:hover{
                color:#fff;
              }

            }
            
          }
        }



        .xwq{

          &>li{
            width:50px;
            height:50px;
            margin-left:50px;
            float:left;
            
            &>a{
              display:block;
              width:50px;
              height:50px;
            }

            &:nth-child(1){
              &>a{

                background:url('../images/WB.png')no-repeat center center;
                background-size:contain;
              }
            }

            &:nth-child(2){
              &>a{
                background:url('../images/WX.png')no-repeat center center;
                background-size:contain;
              }
            }

            &:nth-child(3){
              &>a{
                background:url('../images/QQ.png')no-repeat center center;
                background-size:contain;
              }
            }
          }
        } 

      }


    }
  }

  .footer{
    width:100%;
    height:100px;
    background: #081f2f;

    .container{
      .version{
        margin-top:25px;

        &>li{
          line-height: 30px;
        }
      }

      .version.pull-left{
        text-align: left;
      }

      .version.pull-right{
        text-align: right;
      }

    }  
  }
    
  .joint{
    position:fixed;
    width:40px;
    top:120px;
    left:50px;
    @include Radiu;
    border:0 none;
    z-index:30;

    &>li{
      width:45px;
      height:45px;
      
      &:nth-child(1){
        background:#25364a;
        &>a{
          width:30px;
          height:20px;
          margin:12.5px auto 0;
          background:url('../images/speech-bubble.png') no-repeat center center;
          background-size:contain;
        }
      }
      
      &:nth-child(2){
        background:#4ebbdd;
        &>a{
          width:30px;
          height:20px;
          margin:12.5px auto 0;
          background:url('../images/email.png') no-repeat center center;
          background-size:contain;
        }
      }

      &:nth-child(3){
        background:#4aaaa5;
        &>a{
          width:30px;
          height:30px;
          margin:7.5px auto 0;
          background:url('../images/like.png') no-repeat center center;
          background-size:30px 30px;
        }
      }
      
      &:nth-child(4){
        background:#0091a9;
        &>a{
          width:30px;
          height:30px;
          margin:7.5px auto 0;
          background:url('../images/telephone.png') no-repeat center center;
          background-size:30px 30px;
        }
      }

      &>a{
        display:block;
        
      }

    }
  }

}



