@import "compass/css3";
@import "compass/css3/border-radius";
@charset "utf-8";

$font-family:'微软雅黑' !default;
$fontW:'微软雅黑';
$fontF:'方正兰亭超细黑简体';;
$fontc:'方正兰亭超细黑';

$color:#fff !default;
$className:active;


*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}

a{
  text-decoration: none;
  color:$color;
}

li{
  list-style:none;
  overflow: hidden;
}

div{
   overflow: hidden;
}

input,button,select,textarea{outline:none}
textarea{resize:none}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@mixin headText{
  font-family:$fontW;
  color:#e6e3e3;
  font-size: 14px;
  text-align: center;
 
}



@mixin lineunder{
  width: 50px;
  height:4px;
  margin:25px auto 0;
}

@mixin Radiu{
  border-radius:5px;
  border:1px solid #fff;
}

@mixin serviceText{
  font-family: $fontW;
  text-align: center;
}

@mixin namic{
  width:180px;
  height:180px;
  position: absolute;
  right:0;
  bottom:0;
}

@mixin btnn{
  width:70px;
  height:70px;
  margin-top:165px;
  cursor: pointer;
}

@mixin serverpic{
  text-align: center;
  font-family: $fontW;
  font-size: 14px;
  color: #000;
  background:#318fbb;
}

@mixin footerText{

}

@mixin round{
  border-radius:100%;
}

@mixin sectionFoot{
  font-size: 18px;
  width:200px;
  height:65px;
  line-height: 65px;
  font-family:$fontW;
  white-space:pre;
  text-align:center;
  display:block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

body{

  font-family:$font-family;
  font-size: 14px;
  color:$color;
  overflow-x:hidden;

  .site-bg-canvas{
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
  }

  .header{
    width:100%;
    height:100px;

   .container{
      overflow: visible !important;
      
      .logo{
        width:150px;
        height:50px;  
        background:url('../images/logo.png')no-repeat;
        background-size:contain;
        margin:25px 80px auto auto;

      }

      .navHead{
        height:100%;
            

        &>li{
          @include headText;
          overflow: visible;
          position: relative;
          float:left;
          

          &>a{
            height: 100px;
            line-height: 100px;
            display:block;
            padding:0 10px;
            margin:0 15px;
            
            &:hover{
              color:#2176da;

            }

            &.active1{
              
              @include Radiu;
              border:0 none;
            }

            &.active2{
              
              @include Radiu;
              border:0 none;
            }

            &.active3{
              
              @include Radiu;
              border:0 none;
            }

            &.active4{
              
              @include Radiu;
              border:0 none;
            }
          }
            
          .navSection{
            padding:5px 0;
            margin-top:0px;
            position:absolute;
            z-index:99;
            width:100%;
            display:none;
            background:rgba(17,17,17,0.9);
                
            
            &>ul{
              &>li{
                line-height:36px;
                font-size: 14px;
                font-family:$fontW;

                &>a{
                  color:#fff;  

                  &:hover{
                    color:#2176da;
                    
                  }
                }
              }

            }
                
          }

         .logInOut{
          margin:0px 25px;
        
          &>li{
              
            @include headText;
            float:left;
            margin:32px 5px;
            height:36px;
              
           &>a{
            
              @include Radiu;
              height:34px;
              line-height: 34px;
              display:block;
              
              &.#{$className}{
                color:#e6e3e3;
                background:#14adc4;
                border:0 none;
              }
            }
          }
        }


      }

        
      }
      
      
      .reglog{
        height: 100px;
        line-height:100px;
        color:#e6e3e3;
        font-size: 18px;
        background:url('../images/reglog.png')no-repeat center right;
        background-size:20px 20px; 
        padding-right:35px;
      }
    } 
  
  
    
  }
  
  .service{
    width:100%;
    background: #0b2f47;

    .container{

      .serviceTop{
        margin-top:70px;

        .serviceTitle{
          @include serviceText;
          font-size:16px;
          
        }

        .serviceBody{
          @include serviceText;
          font-size:14px;
          
          li{
            margin-top:10px;
            
            
            a{
              color:#abbac4;
              &:hover{
                color:#fff;
              }
            }
          }
        }

        .ma{
          width:70px;
          height:70px;
          margin:20px auto 20px;

          &>img{
            width: 100px;
            height: 100%;
          }
        }
      }

      .serviceBot{
        margin:60px auto 30px;
    
        &>li.language{
          color:#fff;
          font-size: 16px;
          font-family:$fontW;
          text-align: center;
          
        } 

        .serviceTitle{
          @include serviceText;
          font-size:16px;
          color:#fff;
        }

        .serviceBody{
          @include serviceText;
          font-size:14px;
          
          li{
            margin-top:10px;
            
            &>a{
              color:#abbac4;

              
              &:hover{
                color:#fff;
              }

            }
            
          }
        }



        .xwq{

          &>li{
            width:50px;
            height:50px;
            margin-left:50px;
            float:left;
            
            &>a{
              display:block;
              width:50px;
              height:50px;
            }

            &:nth-child(1){
              &>a{

                background:url('../images/WB.png')no-repeat center center;
                background-size:contain;
              }
            }

            &:nth-child(2){
              &>a{
                background:url('../images/WX.png')no-repeat center center;
                background-size:contain;
              }
            }

            &:nth-child(3){
              &>a{
                background:url('../images/QQ.png')no-repeat center center;
                background-size:contain;
              }
            }
          }
        } 

      }


    }
  }

  .footer{
    width:100%;
    height:105px;
    background: #081f2f;

    .container{
      .version{
        margin-top:25px;

        &>li{
          line-height: 30px;
        }
      }

      .version.pull-left{
        text-align: left;
      }

      .version.pull-right{
        text-align: right;
      }

    }  
  }
    
  .joint{
    position:fixed;
    width:70px;
    top:120px;
    left:50px;
    @include Radiu;
    border:0 none;

    &>li{
      width:70px;
      height:70px;
      
      &>a{
        width:70px;
        height:70px;
        display:block;
      }

      &:nth-child(1){
        &>a{
           background:#25364a url('../images/speech-bubble.png') no-repeat center center;
          background-size:42px 35px;
        }
       
      }

      &:nth-child(2){
         &>a{
          background:#4ebbdd url('../images/email.png') no-repeat center center;
          background-size:40px 29px;
        }
       
      }

      &:nth-child(3){
        &>a{
          background:#4aaaa5 url('../images/like.png') no-repeat center center;
          background-size:40px 33px;
        }
      }

      &:nth-child(4){
        &>a{
          background:#0091a9 url('../images/telephone.png') no-repeat center center;
          background-size:40px 55px;
        }
      }
    }
  }

}



