@import "layout";
@import "row";
@import "animation";
@charset "utf-8";

body{

	.header{
		background: #1f2539 !important;
	}

	.Login{
		width:100%;
		background: -webkit-linear-gradient(#358fb9,#326a92); 
		background: -o-linear-gradient(#358fb9,#326a92); 
		background: -moz-linear-gradient(#358fb9,#326a92); 
		background: linear-gradient(#358fb9,#326a92);
		overflow: hidden;
		


		.registryBox{
			@include Radiu;
			width:650px;
			background:#ffffff;
			box-shadow:0 0 10px #307398;
			overflow: hidden;


			h1{
				color:#000;
				font-size: 30px;
				text-align: center;
				margin:20px auto 20px; 
				font-family:$fontW;
				font-weight: normal;
				font-weight: bold;
			}
			
			label{
				overflow: hidden;
				display: block;
				margin:0 auto 20px;

				.inputL{
					width:100px;
					height:50px;
					line-height: 50px;
					text-align: right;
					font-family:$fontW;
					color:#7a7a7a;
					font-size: 16px;
				}
				
				input{
					width:340px;
					height:50px;
					line-height: 50px;
					@include Radiu;
					margin:0 30px 0px 15px;
					border:2px solid #afc0d1;
					text-indent: 20px;
					font-size: 16px;
					
					

					&[type="submit"]{
						background:#14adc4;
						text-align: center;
						border:2px solid #15849b;
						color:#fff;
						text-indent:0px;
					}
	
					&[type="text"].small{
						width:170px;
					}	
				}
				
				&>a{
					color:#1495ab;
					font-size: 14px;
					height:50px;
					line-height: 50px;
					font-family:$fontW;
					float:left;
					display:block;
					margin-right:15px;
				}
				
				.grapheme{
					width:85px;
					height:50px;
					float:left;

				}

				.inputR{
					height:50px;
					line-height: 50px;
					font-family:$fontW;
					color:#7a7a7a;
					font-size: 16px;
				}


			}
			
			.fin{
				width:340px;
				margin:20px auto 20px;
				color:#7a7a7a;
				font-size: 16px;
				font-family:$fontW;
				
				&>span{
					color:#2c90a5;
				}

				&>input{
					margin-right:10px;
				}
			}


			.footRegistry{
				width:340px;
				margin:20px auto 20px 115px;
				text-align: center;
				font-size: 16px;
				font-family:$fontW;
				color:#7a7a7a;
				white-space: pre;

				&>a{
					color:#15849b;
				}
			}
		}
	}

	.footer{

	}
}