@import "layout";
@import "row";
@import "animation";
@charset "utf-8";

body{

	.bg{
		width:100%;
		height:500px;
		background:url('../images/ser.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;


	}

	.main{
		width:100%;
		background:#ffffff;
		overflow: hidden;

		.serverL{
			border-left:1px solid #d6d6d6;
			border-right:1px solid #d6d6d6;
			padding:0;
			
			.serHead{
				color:#272636;
				font-family: $fontW;
				font-size:24px;
				text-align: left;
				height:80px;
				line-height: 80px;
				text-indent: 100px;
				background:url('../images/rgt.png')no-repeat 20px center;
				background-size:40px 36px; 
				font-weight: 400;
				border-bottom:1px solid #d6d6d6;
			}

			.serelect{

				&>li{
					font-size:20px;
					font-family: $fontW;
					text-align: center;
					height:80px;
					line-height: 80px;
					border-bottom:1px solid #d6d6d6;
					font-weight: 400;
					cursor: pointer;
					
					&>a{
						
						color:#272636;
						display:block;

						&.#{$className}{
							color:#fff;
							background:#109ee1;
						}
					}
					
				}
			}
		}

		.serverR{
			padding-left:40px;

			.serverBox{
				margin-top:80px;

				.serHead{
					overflow:hidden;

					.declaration{
						text-align: center;
						font-family:$fontG1;
						font-size: 24px;
						color:#000000;
						line-height: 50px;

						&>li{

						}
					}
					
					.author{
						margin-top:20px;
						font-family:$fontW;
						color:#0062c1;
						font-size: 18px;
						float:right;
						line-height: 50px;
					}
					
				}

				.serBody{
					margin:50px auto 0;


					.motif{
						font-family: $fontW;
						color:#0062c1;
						font-size: 24px;
					}

					.row{

						.col-lg-6.col-md-6{

							.clHead{
								color:#000000;
								font-family:$fontW;
								font-size: 22px;
								text-align:center;
								margin-top:30px;
							}
							
							.pic{
								width:100%;
								height:230px;
								margin:40px auto 40px;

								&>img{
									margin:0 auto 0;
									height:230px;
									display:block;
								}
							}

							.clFoot{
								margin:0 auto 60px; 
								&>li{
									line-height: 30px;
									font-family:$fontG1;
									color:#000000;
									font-size:16px;
									text-align: left;
								}

								&.last{
									&>li{
										text-align: center;
									}
								}
							}
						}

					}
					
				}
			}

			.gradeHead{

				.selgrade{
					margin:50px auto 0;
					width:100%;
					text-align: left;
					font-family:$fontW;
					color:#0062c1;
					font-size:24px;
				}

				.gHead{
					margin:40px auto 0;
					color:#000000;
					font-family:$fontG2;
					font-size:20px;
				}

				.gBody{
					margin:30px auto 0;
					color:#000000;
					font-family:$fontG1;
					font-size:20px;
					text-indent: 2em;
					line-height: 30px;
				}
				
				.call{
					width:100%;
					margin:30px auto 0px;
					overflow:hidden;
					
					&>li{
						height:253px;
						float:left;
						margin-right:15px;
						margin-bottom:15px;
					}
				}

				.team{
					margin:30px auto 30px;

					&>li{
						.teampic{
							height:80px;
						}
						
						span{
							width:100%;
							font-family:$fontG1;
							color:#000000;
							font-size: 16px;
							text-align: center;
							display: inline-block;
							margin-top:20px;

						}

						&:nth-child(1){
				
							.teampic{
								background:url('../images/sdas_03.png')no-repeat center top;
								background-size:contain;
							}
						}

						&:nth-child(2){
				
							.teampic{
								background:url('../images/sdas_05.png')no-repeat center top;
								background-size:contain;
							}
						}

						&:nth-child(3){
				
							.teampic{
								background:url('../images/sdas_07.png')no-repeat center top;
								background-size:contain;
							}
						}

						&:nth-child(4){
				
							.teampic{
								background:url('../images/sdas_09.png')no-repeat center top;
								background-size:contain;
							}
						}
					}
				}

				.manageImg{
					margin:70px auto 70px;
					height:345px;
					background:url('../images/manageImg.png')no-repeat center center;
					background-size:contain;

				}
			}

			
			.sustain{
				width:100%;
				margin:100px auto 100px;
				border-collapse:collapse;
				border-left:1px solid #c7c7c7;
				border-top:1px solid #c7c7c7;

				&>tbody>tr>th{
					height:80px;
					line-height: 80px;
					background:#08528f;
					text-align: center;
					border-right:1px solid #c7c7c7;
					border-bottom:1px solid #c7c7c7;
				}

				&>tbody>tr>td{
					height:80px;
					line-height: 80px;
					border-right:1px solid #c7c7c7;
					border-bottom:1px solid #c7c7c7;
				}
			}
			
		}
	}
}