@import "layout";
@import "row";
@import "animation";
@charset "utf-8";

body{

	.financeBg{
		width:100%;
		height:500px;
		background:#263d69 url('../images/financeBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
		
	}
	
	.educationBg{
		width:100%;
		height:500px;
		background:#0076c6 url('../images/educationBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.governmentBg{
		width:100%;
		height:500px;
		background:#8acef1 url('../images/governmentBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.retailBg{
		width:100%;
		height:500px;
		background:#01526f url('../images/retailBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.bigDataBg{
		width:100%;
		height:500px;
		background:#404040 url('../images/bigDataBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}

	.main{
		width:100%;
		background:#fff;
		overflow:hidden;
		
		.container{

			.principle{
				margin:140px auto 0;
				overflow:hidden;

				h3{
					font-family: $fontW;
					color:#000000;
					font-size: 24px;
					text-align:center;
				}

				.principleTitle{
					font-family: $fontW;
					color:#0062c1;
					font-size: 20px;
					line-height: 40px;
					margin:50px auto 0;
					text-align: left;
				}

				article{
					font-family: $fontW;
					color:#515567;
					font-size: 20px;
					line-height: 40px;
					text-indent: 2em;
				}
				
				.demand{
					margin:70px auto 0;
				}

				.demand1{
					width:1006px;
					height:506px;
					background:url('../images/financep.png')no-repeat center center;
					background-size:contain;
				}
				
				.demand2{
					width:985px;
					height:590px;
					background:url('../images/jy_03.png')no-repeat center center;
					background-size:contain;
					
				}

				.demand3{
					width:982px;
					height:554px;
					background:url('../images/demand3.png')no-repeat center center;
					background-size:contain;
					
				}

				.demand4{
					width:982px;
					height:554px;
					background:url('../images/demand4.png')no-repeat center center;
					background-size:contain;
				}

				.settleImg{
					width:990px;
					height:784px;
					background:url('../images/settleImg.png')no-repeat center center;
					background-size:contain;
					margin:30px auto 30px;
				}
			}
			
			.principlePanel{
				margin:80px auto 0;
				overflow:hidden;

				.prinHead{
					width:900px;
					height:31px;
					position: relative;
					margin:0 auto 0;

					.line{
						width:100%;
						height:1px;
						position: absolute;
						left:0;
						top:15px;
						background:#d6d6d6;
						z-index:1;
					}

					.text{
						width:216px;
						height:100%;
						line-height: 31px;
						position: absolute;
						font-family: $fontW;
						color:#000000;
						font-size: 22px;
						text-align: center;
						top:0;
						left:50%;
						margin-left:-108px;
						background:#fff;
						z-index:2;
					}	
				}
				
				.preponderant{
					margin:70px auto 70px;

					&>li{

						h3{
							font-family: $fontW;
							color:#000000;
							font-size: 24px;
							text-align: center;
							font-weight: normal;
						}

						.icon{
							width:185px;
							height:215px;
							margin:30px auto 50px;
						}

						article{
							font-family: $fontW;
							color:#74767c;
							font-size: 18px;
							line-height: 36px;

						}
					}
				}

				.dataFramework{
					width: 969px;
					height: 597px;
					margin:0 auto 60px;
					background:url('../images/frame.png')no-repeat center center;
					background-size:contain;

				}

				.dataDemoH{
					width:100%;
					font-family: $fontW;
					color:#0062c1;
					font-size: 20px;
					height:30px;
					line-height: 30px;
					text-align: center;
					margin:60px auto 0;
				}
			
				.dataImg{
					width: 1100px;
					height: 500px;
					background:url('../images/dataImg.png')no-repeat center top;
					background-size:contain;
					margin:25px auto 100px;

				}
				
				.systemList{
					margin:60px auto 0;

					&>li{
						font-family: $fontW;
						color:#515567;
						font-size: 20px;
						line-height: 40px;
						background:url('../images/g_03.png')no-repeat left 10px;
						background-size:20px 20px;
						text-indent: 40px;
					}
				}

				.custom{
					width:1000px;
					margin:60px auto 80px;
					overflow: hidden;

					.client{
						width:100%;
						height:20px;
						line-height: 20px;
						color:#969595;
						font-family: $fontW;
						font-size: 18px;
						text-align: center;
					}

					.clientImg{
						width:180px;
						height:180px;
						background:url('../images/clientImg.png')no-repeat center center;
						background-size:contain;
						margin:10px auto 0;
					}

					.customLR{
						width:810px;
						overflow: hidden;
						margin:0 auto 0;
						
						.customImg{
							width:256px;
							height:256px;
						}

						.customL{
							float:left;
							background:url('../images/customL.png')no-repeat center center;
							background-size:contain;
						}

						.customR{
							background:url('../images/customR.png')no-repeat center center;
							background-size:contain;
							float:right;
						}
					}

					.SOLUTION{
						margin:130px auto 0;
						&>li{
							width:190px;
							height:480px;
							float:left;
							margin:0 5px;
							position: relative;
								
							.solT{
								width:180px;
								height:30px;
								margin:40px auto 0;
							}

							.solCen{
								width:100%;

								.solText{
									color:#ffffff;
									font-family: $fontW;
									font-size: 20px;
									text-align: center;
									margin:40px auto 0;
								}
										
								.soltriangle{
									width: 0;
								    height: 0;
								    border-left: 15px solid transparent;
   			 						border-right: 15px solid transparent;
    								border-top: 15px solid #fff;
									margin:10px auto 0;
								}
							
								
							}

							.solicon{
								position: absolute;
								bottom:0;
								right:0;

							}

							&:nth-child(1){
								background:#1694a7;
								border:1px solid #306a73;

								.solT{
									background:url('../images/sol1.png')no-repeat center center;
									background-size:contain;
								}

								.solicon{
									width: 156px;
									height: 173px;
									background:url('../images/si1.png')no-repeat center center;
									background-size:contain;

									&:hover{
										background:url('../images/si11.png')no-repeat center center;
										background-size:contain;
									}
								}
							}

							&:nth-child(2){
								background:#006c97;
								border:1px solid #035879;

								.solT{
									background:url('../images/sol2.png')no-repeat center center;
									background-size:contain;
								}

								.solicon{
									width: 112px;
									height: 175px;
									background:url('../images/si2.png')no-repeat center center;
									background-size:contain;


									&:hover{
										background:url('../images/si22.png')no-repeat center center;
										background-size:contain;
									}
								}
							}

							&:nth-child(3){
								background:#546e7a;
								border:1px solid #465961;

								.solT{
									background:url('../images/sol3.png')no-repeat center center;
									background-size:contain;
								}

								.solicon{
									width: 146px;
									height: 175px;
									background:url('../images/si3.png')no-repeat center center;
									background-size:contain;


									&:hover{
										background:url('../images/si33.png')no-repeat center center;
										background-size:contain;
									}
								}
							}

							&:nth-child(4){
								background:#4b99bf;
								border:1px solid #4283a2;

								.solT{
									background:url('../images/sol4.png')no-repeat center center;
									background-size:contain;
								}

								.solicon{
									width: 140px;
									height: 173px;
									background:url('../images/si4.png')no-repeat center center;
									background-size:contain;


									&:hover{
										background:url('../images/si44.png')no-repeat center center;
										background-size:contain;
									}
								}
							}

							&:nth-child(5){
								background:#7accc8;
								border:1px solid #6bb2af;

								.solT{
									background:url('../images/sol5.png')no-repeat center center;
									background-size:contain;
								}

								.solicon{
									width: 145px;
									height: 191px;
									background:url('../images/si5.png')no-repeat center center;
									background-size:contain;


									&:hover{
										background:url('../images/si55.png')no-repeat center center;
										background-size:contain;
									}
								}
							}
						}
					}

					.delivery{
						text-align: center;
						margin:150px auto 0;

						&>li{
							width:320px;
							height:500px;
							display:inline-block;
							margin:0 5px;

							&:nth-child(1){
								background:#1694a7;
								border:2px solid #306a73;
							}

							&:nth-child(2){
								background:#006c97;
								border:2px solid #035879;
							}

							&:nth-child(3){
								background:#546e7a;
								border:2px solid #465961;
							}
						}
					}
				}

				.scheme{
					margin:60px auto 80px;

					&>li{

						h3{
							font-family:$fontW;
							color:#000;
							font-size:24px;
							text-align:center;
							font-weight:normal;
						}

						.iocn{
							width: 186px;
							height: 214px;
							margin:30px auto 0;

							&>img{
								width: 100%;
								height: 100%;
							}
						}

						article{
							font-family:$fontW;
							color:#74767c;
							font-size:18px;
							line-height: 36px;
							margin:40px auto 0;
							padding:0 20px;
						}
					}
				}

				.values{
					margin:60px auto 80px;

					&>li{
						width:1080px;
						height:200px;
						margin:0 auto 15px;
						border:1px solid #6a6a6a;
						
						&:nth-child(1){
							.value{
								background:#1694a7;
								border:2px solid #306a73;

								.valueit{
									background:url('../images/value_03.png')no-repeat center center;
									background-size:contain;
								}
							}
						}
		
						&:nth-child(2){
							.value{
								background:#006c97;
								border:2px solid #035879;

								.valueit{
									background:url('../images/value_07.png')no-repeat center center;
									background-size:contain;
								}
							}
						}
			
						&:nth-child(3){
							.value{
								background:#546e7a;
								border:2px solid #465961;

								.valueit{
									background:url('../images/value_09.png')no-repeat center center;
									background-size:contain;
								}
							}
						}
		
						&:nth-child(4){
							.value{
								background:#4b99bf;
								border:2px solid #4283a2;

								.valueit{
									background:url('../images/value_11.png')no-repeat center center;
									background-size:contain;
								}
							}
						}
						
						&:nth-child(5){
							.value{
								background:#7accc8;
								border:2px solid #6bb2af;

								.valueit{
									background:url('../images/value_14.png')no-repeat center center;
									background-size:contain;
								}
							}
						}

						.value{
							width:200px;
							height:200px;
							float:left;
							position: relative;
							
							.valueit{
								width:100%;
								height:40px;
								margin:40px auto 0;
							}

							.triangleR{
								width: 0;
    							height: 0;
								border-top: 20px solid transparent;
   								border-left: 30px solid #fff;
    							border-bottom: 20px solid transparent;
								position: absolute;
								right:0;
								top:80px;
							}
						}

						.content{
							float:left;
							width:878px;
							height:200px;
							
							.textR{
								font-family: $fontW;
								color:#545454;
								font-size: 16px;
								line-height: 26px;
								padding:0 20px;
								margin:50px auto 0;
							}
						}
					}
				}

				.demoImg{
					width: 1000px;
					height:700px;
					margin:40px auto 40px;
					background:url('../images/demoImg.png')no-repeat center center;
					background-size:contain;
				}
			}
		}
	}
}