@import "layout";
@import "row";
@import "animation";
@charset "utf-8";

body{

	.financeBg{
		width:100%;
		height:400px;
		background:#263d69 url('../images/financeBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
		
	}
	
	.educationBg{
		width:100%;
		height:500px;
		background:#0076c6 url('../images/educationBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.governmentBg{
		width:100%;
		height:500px;
		background:#8acef1 url('../images/governmentBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.retailBg{
		width:100%;
		height:500px;
		background:#01526f url('../images/retailBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}
	
	.bigDataBg{
		width:100%;
		height:500px;
		background:#404040 url('../images/bigDataBg.png')no-repeat center center;
		background-size:auto 100%; 
		position: relative;
	}

	.settleNav{
		width:100%;
		text-align:center;
		position: absolute;
		bottom:-80px;
		z-index:5;
		perspective:50000px;

		&>a{
			width:160px;
			height:160px;
			line-height: 160px;
			display:inline-block;
			background:url('../images/f2.png')no-repeat center center;
			background-size:contain; 
			margin:0 35px;
			font-family: $fontW;
			color:#000000;
			font-size: 16px;
			text-align:center;
			transition: 1s;

			&:hover{
				color:#fff;
				background:url('../images/f1.png')no-repeat center center;
				
			}

			&.active{
				color:#fff;
				background:url('../images/f1.png')no-repeat center center;
				
			}

		}
	}

	.main{
		width:100%;
		background:#fff;
		overflow:hidden;
		
		.container{

			.principle{
				margin:150px auto 0;
				overflow:hidden;

				h3{
					font-family: $fontW;
					color:#000000;
					font-size: 24px;
					text-align:center;
				}

				.principleTitle{
					font-family: $fontW;
					color:#0062c1;
					font-size: 18px;
					line-height: 40px;
					margin:50px auto 0;
					text-align: left;
				}

				article{
					font-family: $fontW;
					color:#515567;
					font-size: 16px;
					line-height: 40px;
					text-indent: 2em;
				}
				
				.demand{
					margin:70px auto 0;
				}

				.demand1{
					width:900px;
					height:506px;
					background:url('../images/demand1.png')no-repeat center center;
					background-size:contain;
				}
				
				.demand2{
					width:900px;
					height:590px;
					background:url('../images/demand2.png')no-repeat center center;
					background-size:contain;
					
				}

				.demand3{
					width:1000px;
					height:554px;
					background:url('../images/demand3.png')no-repeat center center;
					background-size:contain;
					
				}

				.demand4{
					width:1000px;
					height:554px;
					background:url('../images/demand4.png')no-repeat center center;
					background-size:contain;
				}

				.settleImg{
					width:990px;
					height:784px;
					background:url('../images/settleImg.png')no-repeat center center;
					background-size:contain;
					margin:30px auto 30px;
				}
			}
			
			.principlePanel{
				margin:80px auto 0;
				overflow:hidden;

				.prinHead{
					width:900px;
					height:31px;
					position: relative;
					margin:0 auto 0;

					.line{
						width:100%;
						height:1px;
						position: absolute;
						left:0;
						top:15px;
						background:#d6d6d6;
						z-index:1;
					}

					.text{
						width:216px;
						height:100%;
						line-height: 31px;
						position: absolute;
						font-family: $fontW;
						color:#000000;
						font-size: 22px;
						text-align: center;
						top:0;
						left:50%;
						margin-left:-108px;
						background:#fff;
						z-index:2;
					}	
				}

				.valuess{
					width: 1000px;
					margin:0 auto 0;

					&>li{
						width: 460px;
						height:200px;
						margin-top:55px;
						border:1px solid #6a6a6a;
						padding:0;
						
						.value{
							width:200px;
							height:200px;
							position: relative;
							
							.valueit{
								width:100%;
								height:40px;
								margin:20px auto 0;
								color:#ffffff;
								font-size: 40px;
								font-family: 'Bauhaus 93';
								text-align: center;
							}
							
							.textL{
								color:#ffffff;
								font-family: $fontW;
								font-size: 20px;
								margin:50px auto 0;
								line-height: 30px;
								text-align:center;
								padding:0 10px;
							}

							.triangleR{
								width: 0;
	    						height: 0;
								border-top: 15px solid transparent;
	   							border-bottom: 15px solid transparent;
								position: absolute;
								top:80px;
							}

						}

						.content{
							width:258px;
							height:200px;
							
							.textR{
								font-family: $fontW;
								color:#545454;
								font-size: 16px;
								line-height: 26px;
								padding:0 20px;
								margin:50px auto 0;
							}
						}

						&:nth-child(1){
							.value{
								background:#1694a7;
								border:2px solid #306a73;
								
								.triangleR{
									border-left: 20px solid #fff;
	    							right:0;
									
								}
							}
						}
			
						&:nth-child(2){
							.value{
								background:#006c97;
								border:2px solid #035879;

								.triangleR{
									border-right: 20px solid #fff;
	    							left:0;
								}	
							}
						}
				
						&:nth-child(3){
							.value{
								background:#546e7a;
								border:2px solid #465961;
									
								.triangleR{
									border-left: 20px solid #fff;
	    							right:0;
									
								}
							}
						}
			
						&:nth-child(4){
							.value{
								background:#4b99bf;
								border:2px solid #4283a2;

								.triangleR{
									border-right: 20px solid #fff;
	    							left:0;
								}	
							}
						}
					}
				}
				
				.worth{
					margin:100px auto 100px;

					.worthH{
						color:#000000;
						font-family:$fontW;
						font-size: 18px;
						line-height: 36px;
						text-align: center;
					}

					.worthList{
						margin:30px auto 0;

						&>li{
							width:100%;
							height:95px;
							border:1px solid #60ccf4;
							margin-bottom:15px;

							.icon{
								width:55px;
								height:55px;
								margin:20px auto auto 20px;

								&>img{
									width: 100%;
									height: 100%;
								}
							}

							.content{
								margin-left:95px;
								color:#000000;
								font-size: 18px;
								font-family: $fontW;
								line-height: 95px;
							}
						}
					}
				}

				.preceptH{
					font-family: $fontW;
					color:#0062c1;
					font-size: 20px;
					text-align: center;
					margin:30px auto 0;
					height:30px;
					line-height: 30px;

				}

				.preceptList{
					margin:60px auto 0;

					&>li{
						margin:0 auto 0;

						h3{
							text-align: center;
							font-family: $fontW;
							color:#000000;
							font-size: 24px;
							heigth:30px;
							line-height: 30px;
							font-weight: normal;
						}

						.icon{
							width:185px;
							height:215px;
							margin:20px auto 0;

							&>img{
								width: 100%;
								height: 100%;
							}
						}

						.natureList{
							height:180px;
							margin:30px auto 0;

							&>li{
								font-family: $fontW;
								color:#74767c;
								font-size: 18px;
								line-height: 36px;
								text-align: center;
							}
							
						}
					}
				}

				.preponderant{
					margin:70px auto 70px;

					&>li{

						h3{
							font-family: $fontW;
							color:#000000;
							font-size: 24px;
							text-align: center;
							font-weight: normal;
						}

						.icon{
							width:185px;
							height:215px;
							margin:30px auto 50px;
						}

						article{
							font-family: $fontW;
							color:#74767c;
							font-size: 18px;
							line-height: 36px;

						}
					}
				}

				.dataFramework{
					width: 969px;
					margin:40px auto 0;
					
					.frameH{
						width:100%;
						height:30px;
						line-height: 30px;
						margin:0px auto 0;
						font-family: $fontW;
						color:#000000;
						font-size: 22px;
						text-align: center;

						.frameHL{
							width:534px;
							margin-left:93px;
						}

						.frameHR{
							width:213px;
							margin-right:115px;
						}
					}
					
					.frameP{
						width: 100%;
						height: 597px;
						margin:10px auto 80px;
						background:url('../images/frame.png')no-repeat center center;
						background-size:contain;
					}

				}

				.dataDemoH{
					width:100%;
					font-family: $fontW;
					color:#0062c1;
					font-size: 20px;
					height:30px;
					line-height: 30px;
					text-align: center;
					margin:60px auto 0;
				}
			
				.dataImg{
					width: 1100px;
					height: 500px;
					background:url('../images/dataImg.png')no-repeat center top;
					background-size:contain;
					margin:25px auto 100px;

				}
				
				.systemList{
					margin:60px auto 0;

					&>li{
						font-family: $fontW;
						color:#515567;
						font-size: 20px;
						line-height: 40px;
						background:url('../images/g_03.png')no-repeat left 10px;
						background-size:20px 20px;
						text-indent: 40px;
					}
				}
				
				.systemicon{
					margin:100px auto 100px;
					width: 1100px;
					height: 400px;
					background:url('../images/systemicon.png')no-repeat center top;
					background-size:contain;
				}

				.custom{
					width:1000px;
					margin:60px auto 80px;
					overflow: hidden;
					position: relative;
		
					.client{
						width:100%;
						height:20px;
						line-height: 20px;
						color:#969595;
						font-family: $fontW;
						font-size: 18px;
						text-align: center;
					}

					.clientIcon{
						width:120px;
						height:120px;
						background:url('../images/clientImg.png')no-repeat center center;
						background-size:contain;
						margin:10px auto 0;

						&>img{
							width: 100%;
							height: 100%;

						}
					}

					.customLR{
						width:810px;
						overflow: hidden;
						margin:0 auto 0;
						
						.customImg{
							width:220px;
							height:220px;
							position: relative;

							&>img{
								width:100%;
								height:100%;
							}

							.Text{
								position: absolute;
								height:60px;
								line-height: 60px;
								font-family: $fontW;
								color:#000;
								font-size: 24px;
								bottom:0px;
								width:100%;
								text-indent: 20px;
							}
						}

						.customL{
							float:left;
							margin-left:36px;
						}

						.customR{
							float:right;
							margin-right:36px;
						}
					}

					.dataImgLR{
						width:100%;
						margin:10px auto 0;
						
						.datesImg{
							width: 300px;
							height: 530px;
							border:1px solid #6a6a6a;
							background:#d6d6d6;

							.icon{
								width: 280px;
								height: 200px;
								margin:10px auto 0;

								&>img{
									width:100%;
									height:auto;
								}
							}
						}

						h3{
							color:#0070cc;
							font-family: $fontW;
							font-size: 32px;
							text-align: center;
							padding:0 10px;
							margin:20px auto 0;
							font-weight: normal;
						}

						article{
							color:#545454;
							font-family: $fontW;
							font-size: 16px;
							line-height: 32px;
							text-indent: 2em;
							padding:0 20px;
							margin:20px auto 0;

						}

					}

					.pay{
						width:100%;
						height:60px;
						line-height: 60px;
						font-family: $fontW;
						color:#000;
						font-size: 24px;
						text-align: center;
						top:368px;
						position: absolute;
					}

					.line1{
						width:1px;
						height:110px;
						position: absolute;
						background:#d6d6d6;
						left:50%;
						margin-left:-0.5px;
						top:150px;
					}

					.line2{
						width:300px;
						height:1px;
						position: absolute;
						background:#d6d6d6;
						left:50%;
						margin-left:-150px;
						top:260px;
					}

					.dataLine1{
						position: absolute;
						width:1px;
						height:275px;
						left:50%;
						margin-left:-0.5px;
						background:#d6d6d6;
						top:210px;
					}

					.dataLine2{
						position: absolute;
						width:400px;
						height:1px;
						background:#d6d6d6;
						left:50%;
						margin-left:-200px;
						top:485px;
					}

					.line3{
						width:1px;
						height:70px;
						position: absolute;
						background:#d6d6d6;
						top:368px;
						left:228px;
					}

					.line4{
						width:1px;
						height:70px;
						position: absolute;
						background:#d6d6d6;
						top:368px;
						right:228px;
					}

					.line5{
						width:700px;
						height:1px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						left:50%;
						margin-left:-350px;
					}

					.line6{
						width:700px;
						height:1px;
						position: absolute;
						background:#d6d6d6;
						top:535px;
						left:50%;
						margin-left:-350px;
					}
					
					.line7{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:535px;
						left:150px;
					}
					
					.line8{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:535px;
						left:50%;
						margin-left:-0.5px;
					}

					.line9{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:535px;
						right:150px;
					}

					.line11{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						left:150px;
					}

					.line12{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						left:320px;
					}

					.line13{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						left:50%;
						margin-left:-0.5px;
					}

					.line14{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						right:320px;
					}

					.line15{
						width:1px;
						height:81px;
						position: absolute;
						background:#d6d6d6;
						top:436px;
						right:150px;
					}


					.SOLUTION{
						width:900px;
						margin:130px auto 0;
						&>li{
							width:170px;
							height:415px;
							float:left;
							margin:0 5px;
							position: relative;
							overflow: hidden;
							
							.SOLBox{
								width:100%;
								height:100%;
								background:#fff;
								position: absolute;
								top:0px;
								left:-170px;
								z-index:2;
								overflow: hidden;
								
								h3{
									color:#0070cc;
									font-family:$fontW;
									font-size: 18px;
									font-weight: normal;
									margin:30px auto 0;
									line-height: 35px;
									text-align:center;
								}

								.SOList{
									margin:10px auto 0;
									&>li{
										color:#545454;
										font-family:$fontW;
										font-size: 16px;
										line-height: 28px;
										padding:0 5px;
									}
								}
							}

							.solT{
								width:180px;
								height:30px;
								margin:40px auto 0;
								font-family: 'Bauhaus 93';
								color:#ffffff;
								font-size: 28px;
								text-align: center;
							}

							.solCen{
								width:100%;

								.solText{
									color:#ffffff;
									font-family: $fontW;
									font-size: 18px;
									text-align: center;
									margin:40px auto 0;
								}
										
								.soltriangle{
									width: 0;
								    height: 0;
								    border-left: 15px solid transparent;
   			 						border-right: 15px solid transparent;
    								border-top: 15px solid #fff;
									margin:10px auto 0;
								}
							
								
							}

							.solicon{
								position: absolute;
								bottom:0;
								right:0;
								width: 100%;
								height: 168px;
							}

							&:nth-child(1){
								background:#1694a7;
								border:1px solid #306a73;

								.solicon{
									
									background:url('../images/si1.png')no-repeat right bottom;
									background-size:contain;

									&:hover{
										background:url('../images/si11.png')no-repeat right bottom;
										background-size:contain;
									}
								}
							}

							&:nth-child(2){
								background:#006c97;
								border:1px solid #035879;

								.solicon{
									
									background:url('../images/si2.png')no-repeat right bottom;
									background-size:contain;

									&:hover{
										background:url('../images/si22.png')no-repeat right bottom;
										background-size:contain;
									}
								}
							}

							&:nth-child(3){
								background:#546e7a;
								border:1px solid #465961;

								.solicon{
									background:url('../images/si3.png')no-repeat right bottom;
									background-size:contain;

									&:hover{
										background:url('../images/si33.png')no-repeat right bottom;
										background-size:contain;
									}
								}
							}

							&:nth-child(4){
								background:#4b99bf;
								border:1px solid #4283a2;

								.solicon{
									background:url('../images/si4.png')no-repeat right bottom;
									background-size:contain;


									&:hover{
										background:url('../images/si44.png')no-repeat right bottom;
										background-size:contain;
									}
								}
							}

							&:nth-child(5){
								background:#7accc8;
								border:1px solid #6bb2af;

								.solicon{
									background:url('../images/si5.png')no-repeat right bottom;
									background-size:contain;

									&:hover{
										background:url('../images/si55.png')no-repeat right bottom;
										background-size:contain;
									}
								}
							}
						}
					}

					.delivery{
						text-align: center;
						margin:150px auto 0;

						&>li{
							width:320px;
							height:520px;
							display:inline-block;
							margin:0 5px;
							position: relative;
							overflow: hidden;

							&:nth-child(1){
								background:#1694a7;
								border:2px solid #306a73;

								.delicon{
									background:url('../images/solution_13.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/icon_03.png')no-repeat right bottom;
									}
								}
								
								.govicon{
									background:url('../images/gov1.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/gov11.png')no-repeat right bottom;
									}
								}

								.raticon{
									background:url('../images/ra1.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra11.png')no-repeat right bottom;
									}
								}

							}

							&:nth-child(2){
								background:#006c97;
								border:2px solid #035879;

								.delicon{
									background:url('../images/solution_16.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/icon_06.png')no-repeat right bottom;
									}
								}

								.govicon{
									background:url('../images/gov2.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/gov22.png')no-repeat right bottom;
									}
								}

								.raticon{
									background:url('../images/ra2.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra22.png')no-repeat right bottom;
									}
								}

							}

							&:nth-child(3){
								background:#546e7a;
								border:2px solid #465961;

								.delicon{
									background:url('../images/solution_19.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/icon_09.png')no-repeat right bottom;
									}
								}

								.govicon{
									background:url('../images/gov3.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/gov33.png')no-repeat right bottom;
									}
								}

								.raticon{
									background:url('../images/ra3.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra33.png')no-repeat right bottom;
									}
								}

							}

							&:nth-child(4){
								background:#7accc8;
								border:2px solid #306a73;

								.raticon{
									background:url('../images/ra4.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra44.png')no-repeat right bottom;
									}
								}
							}

							&:nth-child(5){
								background:#4b99bf;
								border:2px solid #035879;

								.raticon{
									background:url('../images/ra5.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra55.png')no-repeat right bottom;
									}
								}
							}

							&:nth-child(6){
								background:#798d97;
								border:2px solid #465961;

								.raticon{
									background:url('../images/ra6.png')no-repeat right bottom;
									background-size:auto;

									&:hover{
										background:url('../images/ra66.png')no-repeat right bottom;
									}
								}
							}
							
							&:nth-child(4),&:nth-child(5),&:nth-child(6){
								margin-top:60px;
							}

							.delHead{
								color:#ffffff;
								font-size: 50px;
								font-family: 'Bauhaus 93';
								text-align: center;
								margin:65px auto 0;
							}

							.delBofy{
								margin:35px auto 0;

								.delText{
									color:#ffffff;
									font-size: 32px;
									font-family:$fontW;
									text-align: center;
									line-height: 35px;
								}

								.delb{
									width: 0;
								    height: 0;
								    border-left: 20px solid transparent;
								    border-right: 20px solid transparent;
								    border-top: 30px solid #fff;
								    margin:20px auto 0;
								}
							}

							.delicon{
								width:100%;
								height:320px;
								position: absolute;
								bottom:0;
								right:0;
							}
							
							.govicon{
								width:100%;
								height:200px;
								position: absolute;
								bottom:0;
								right:0;
							}
							
							.raticon{
								width:100%;
								height:150px;
								position: absolute;
								bottom:0;
								right:0;
							}

							.delBox{
								position: absolute;
								width:100%;
								height:100%;
								left:0;
								top:-520px;
								z-index:2;
								background:#fff;

								h3{
									color:#0070cc;
									font-size: 32px;
									font-family:$fontW;
									text-align: center;
									margin:100px auto 0;
									line-height: 40px;
									font-weight: normal;
								}

								.SOList{
									margin:100px auto 0;
									&>li{
										color:#545454;
										font-family:$fontW;
										font-size: 16px;
										line-height: 28px;
										padding:0 5px;
										text-align: left;
									}
								}
							}

							.govBox{
								position: absolute;
								width:100%;
								height:100%;
								left:0;
								top:-520px;
								z-index:2;
								background:#fff;

								h3{
									color:#0070cc;
									font-size: 32px;
									font-family:$fontW;
									text-align: center;
									margin:30px auto 0;
									line-height: 40px;
									font-weight: normal;
								}

								.SOList{
									margin:30px auto 0;
									&>li{
										color:#545454;
										font-family:$fontW;
										font-size: 16px;
										line-height: 28px;
										padding:0 5px;
										text-align: left;
									}
								}
							}

							.ratBox{
								position: absolute;
								width:100%;
								height:100%;
								left:0;
								top:-420px;
								z-index:2;
								background:#fff;

								h3{
									color:#0070cc;
									font-size: 32px;
									font-family:$fontW;
									text-align: center;
									margin:40px auto 0;
									line-height: 40px;
									font-weight: normal;
								}

								.SOList{
									margin:40px auto 0;
									&>li{
										color:#545454;
										font-family:$fontW;
										font-size: 16px;
										line-height: 28px;
										padding:0 5px;
										text-align: left;
									}
								}
							}
						}
					}
				}

				.scheme{
					width:900px;
					margin:60px auto 80px;

					&>li{

						h3{
							font-family:$fontW;
							color:#000;
							font-size:18px;
							text-align:center;
							font-weight:normal;
						}

						.iocn{
							width: 186px;
							height: 214px;
							margin:35px auto 0;
							text-align: center;

							&>img{
								width: 90%;
								height: 90%;
							}
						}

						article{
							font-family:$fontW;
							color:#74767c;
							font-size:16px;
							line-height: 32px;
							margin:30px auto 0;
							padding:0 20px;
						}
					}
				}

				.values{
					margin:60px auto 80px;

					&>li{
						width:900px;
						height:200px;
						margin:0 auto 15px;
						border:1px solid #6a6a6a;
						
						&:nth-child(1){
							.value{
								background:#1694a7;
								border:2px solid #306a73;

								
							}
						}
		
						&:nth-child(2){
							.value{
								background:#006c97;
								border:2px solid #035879;

								
							}
						}
			
						&:nth-child(3){
							.value{
								background:#546e7a;
								border:2px solid #465961;

								
							}
						}
		
						&:nth-child(4){
							.value{
								background:#4b99bf;
								border:2px solid #4283a2;

								
							}
						}
						
						&:nth-child(5){
							.value{
								background:#7accc8;
								border:2px solid #6bb2af;

								
							}
						}

						.value{
							width:200px;
							height:200px;
							float:left;
							position: relative;
							
							.valueit{
								width:100%;
								height:40px;
								margin:20px auto 0;
								color:#ffffff;
								font-size: 40px;
								font-family: 'Bauhaus 93';
								text-align: center;
							}
							
							.textL{
								color:#ffffff;
								font-family: $fontW;
								font-size: 20px;
								margin:50px auto 0;
								line-height: 30px;
								text-align:center;
								padding:0 5px;
							}


						}

						.content{
							float:left;
							width: 698px;
							height:200px;
							
							.textR{
								font-family: $fontW;
								color:#545454;
								font-size: 16px;
								line-height: 26px;
								padding:0 20px;
								margin:50px auto 0;
							}
						}
					}
				}

				.demoImg{
					width:900px;
					height:700px;
					margin:40px auto 40px;
					background:url('../images/demoImg.png')no-repeat center center;
					background-size:contain;
				}
			}
		}
	}
}