@import "layout";
@import "row";
@import "animation";
@charset "utf-8";

body{

	.bg{
		@include banner-bg;
		background:url('../images/tree.png')no-repeat center center;

		.treeNav{
			width:100%;
			text-align:center;
			position: absolute;
			bottom:-80px;
			z-index:5;
			perspective:50000px;

			&>a{
				@include fixed-nav-a;
				background:url('../images/f2.png')no-repeat center center;
				background-size:contain; 
				margin:0 20px;

				&:hover{
					color:#fff;
					background:url('../images/f1.png')no-repeat center center;
					
				}

				&.active{
					color:#fff;
					background:url('../images/f1.png')no-repeat center center;
					
				}

			}
		}


	}

	.main{
		width:100%;
		background:#fff;
		overflow:hidden;
		
		.container{

			.treesHead{
				margin:160px auto 0;

				h3{
					color:#313131;
					font-family: $fontW;
					font-size: 24px;
					text-align: center;
					font-weight: normal;
				}

				article{
					color:#313131;
					font-family: $fontW;
					font-size: 18px;
					text-indent: 2em;
					margin-top:30px;
					line-height: 30px;

				}

				.Power{
					margin-top:30px;

					&>li{
						color:#313131;
						font-family: $fontW;
						font-size: 18px;
						text-indent: 2em;
						line-height: 30px;

					}
				}
			}

			.treesBody{
				margin:130px auto 150px;
				
				h3{
					color:#313131;
					font-family: $fontW;
					font-size: 24px;
					text-align: center;
					font-weight: normal;
				}
				


				.property{

					&>li{
						
						&:nth-child(2),&:nth-child(3){
							margin-top:120px;
						}

						h3{
							color:#313131;
							font-size: 30px;
							font-family: $fontW;
							text-align: center;
							font-weight: normal;
						}

						article{
							color:#313131;
							font-family: $fontW;
							font-size: 18px;
							text-indent: 2em;
							margin-top:25px;
							line-height: 30px;
							padding:0 25px;
							background:url('../images/g_03.png')no-repeat left 1px;
							background-szie:28px 28px;
						}
					}
				}

				.packpic{
					margin:0 auto 0;
					background:url('../images/gt_03.png')no-repeat center top;
					background-size:contain; 
				}
				
				.powpic{
					margin:40px auto 130px;

					.PowerL{
						width:695px;
						height:640px;
						position: relative;


						&>img{
							width: 100%;
							height: 100%;
						}

						.PoweLines{
							&>li{
								position: absolute;
								display: none;

								&:nth-child(1){
									width:86px;
									height:231px;
									background:url('../images/PoweL1.png')no-repeat center center;
									background-size:contain;
									top:165px;
									left:65px;
									display: block;
								}


								&:nth-child(7),&:nth-child(8),&:nth-child(9){
									width:16px;
									height:240px;
									background:url('../images/PoweL2.png')no-repeat center center;
									background-size:contain;

								}

								&:nth-child(7){
									top:210px;
									left:170px;
								}

								&:nth-child(8){
									top:210px;
									left:350px;
								}

								&:nth-child(9){
									top:210px;
									right:160px;
								}
							}
						}

						.borders{
							&>li{
								position: absolute;
								display:none;

								&:nth-child(1){
									width: 98px;
									height: 19px;
									background:url('../images/bord1.png')no-repeat center center;
									background-size:contain;
									top:377px;
									left:150px;
									display: block;
								}

								&:nth-child(7){
									width: 155px;
									height: 50px;
									background:url('../images/bord2.png')no-repeat center center;
									background-size:contain;
									bottom:158px;
									left:87px;
								}

								&:nth-child(8){
									width: 150px;
									height: 48px;
									background:url('../images/bord3.png')no-repeat center center;
									background-size:contain;
									bottom:158px;
									left:276px;
								}

								&:nth-child(9){
									width: 158px;
									height: 55px;
									background:url('../images/bord4.png')no-repeat center center;
									background-size:contain;
									bottom:154px;
									right:85px;
								}

								&:nth-child(5){
									width: 218px;
									height: 26px;
									background:url('../images/bord5.png')no-repeat center center;
									background-size:contain;
									bottom:215px;
									left:127px;
								}

								&:nth-child(6){
									width: 218px;
									height: 26px;
									background:url('../images/bord6.png')no-repeat center center;
									background-size:contain;
									bottom:215px;
									right:127px;
								}

								&:nth-child(2){
									width: 129px;
									height: 33px;
									background:url('../images/bord7.png')no-repeat center center;
									background-size:contain;
									top:434px;
									left:99px;
								}

								&:nth-child(3){
									width: 118px;
									height: 28px;
									background:url('../images/bord88.png')no-repeat center center;
									background-size:contain;
									top:438px;
									left:292px;
								}

								&:nth-child(4){
									width: 129px;
									height: 28px;
									background:url('../images/bord9.png')no-repeat center center;
									background-size:contain;
									top:438px;
									right:93px;
								}

								&:nth-child(10){
									width: 317px;
									height: 16px;
									background:url('../images/bord10.png')no-repeat center center;
									background-size:contain;
									top:310px;
									left:192px;
								}

								&:nth-child(11){
									width: 102px;
									height: 11px;
									background:url('../images/bord11.png')no-repeat center center;
									background-size:contain;
									top:297px;
									right:192px;
								}

								&:nth-child(12){
									width: 44px;
									height: 21px;
									background:url('../images/bord12.png')no-repeat center center;
									background-size:contain;
									top:363px;
									left: 211px;
								}

								&:nth-child(13){
									width: 98px;
									height: 21px;
									background:url('../images/bord8.png')no-repeat center center;
									background-size:contain;
									top:375px;
									left: 272px;
								}

								&:nth-child(14){
									width: 70px;
									height:19px;
									background:url('../images/bord144.png')no-repeat center center;
									background-size:contain;
									top:376px;
									right:252px;
								}

								&:nth-child(15){
									width: 107px;
									height: 19px;
									background:url('../images/bord15.png')no-repeat center center;
									background-size:contain;
									top:373px;
									right: 144px;
								}

								&:nth-child(16){
									width: 107px;
									height: 19px;
									background:url('../images/bord16.png')no-repeat center center;
									background-size:contain;
									top:346px;
									left:157px;
								}

								&:nth-child(17){
									width: 41px;
									height: 16px;
									background:url('../images/bord17.png')no-repeat center center;
									background-size:contain;
									top:339px;
									left:328px;
								}

								&:nth-child(18){
									width: 92px;
									height: 13px;
									background:url('../images/bord18.png')no-repeat center center;
									background-size:contain;
									top:350px;
									left:276px;
								}

								&:nth-child(19){
									width: 107px;
									height: 19px;
									background:url('../images/bord19.png')no-repeat center center;
									background-size:contain;
									top:346px;
									left:351px;
								}

								&:nth-child(20){
									width: 95px;
									height: 16px;
									background:url('../images/bord20.png')no-repeat center center;
									background-size:contain;
									top:346px;
									right:163px;
								}
							}
						}
					}

					.PowerR{
						@include radius;
						width:240px;
						height:640px;
						margin:0 auto 0;
						background:#383747;
						display:none;

						.cinder{

							height:70px;
							line-height: 70px;
							color:#ffffff;
							font-family: $fontW;
							font-size: 20px;
							margin:10px auto 0;
							text-align:center;
							border-bottom:1px solid #717074;
						}

						article{
							color:#ffffff;
							font-family: $fontW;
							font-size: 18px;
							margin:35px auto 0;
							padding:0 10px;
							line-height: 25px;
						}

					}
				}
				
			}

			.treelog{
				margin: 200px auto 0;
				
				h3{
					color:#313131;
					font-family: $fontW;
					font-size: 24px;
					text-align: center;
					font-weight:normal;
				}

				article{
					margin:70px auto 0;
					color:#313131;
					font-family: $fontW;
					font-size: 18px;
					line-height: 40px;
					text-indent: 2em;
				}

				.logs{
					margin: 70px auto 0;
					
					&>li{
						color:#313131;
						font-family: $fontW;
						font-size: 18px;
						line-height: 26px;
						background:url('../images/g_03.png')no-repeat 50px center;
						background-size:contain; 
						margin-bottom:70px;
						text-indent: 100px;
					}
				}
				
				.logpic{
					width:788px;
					height:772px;
					margin:0 auto 0;
					position: relative;
					perspective:450px;
					transform: scale(0.8);

					.logpicT{
						width:100%;
						height:393px;
						position:absolute;
						background:url('../images/logpicT.png')no-repeat left center;
						background-size:contain; 
						transition: 1s;
						transform: rotateX(25deg);
						transform-origin:bottom;
						top:0;
						z-index:2;
					}

					.logpicB{
						width:100%;
						height:379px;
						position:absolute;
						background:url('../images/logpicB.png')no-repeat left center;
						background-size:contain; 
						transition: 1s;
						transform: rotateX(-25deg);
						transform-origin:top;
						bottom:0;
						z-index:1;

					}
				}
				
				.monitPic{
					width:100%;
					overflow: hidden;

					.pic{
						width:665px;
						height: 980px;
						margin:0 auto 0;
						position: relative;
						
						&>li{
							position: absolute;

							&:nth-child(1){
								width:100%;
								height: 491px;
								background:url('../images/monit1.png')no-repeat center center;
								background-size:contain; 
								top:0;
								z-index:3;
								transform:translate(20px,390px);
							}

							&:nth-child(2){
								width:100%;
								height: 498px;
								background:url('../images/monit2.png')no-repeat center center;
								background-size:contain; 
								top:245px;
								z-index:2;
								transform:translate(10px,195px);
							}
							
							&:nth-child(3){
								width:100%;
								height: 491px;
								background:url('../images/monit3.png')no-repeat center center;
								background-size:contain; 
								top:490px;
								z-index:1;
							}
						}
					}

					.describe{
						width:350px;
						height:525px;
						margin:250px auto 0;
						background:url('../images/describe.png')no-repeat center center;
						background-size:contain; 
					}
				}

				.Cloudpic{
					width:1081px;
					height:513px;
					line-height: 513px;
					margin:80px auto 0;
					background:url('../images/Cloudpic.png')no-repeat center center;
					background-size:contain;
					text-align:left;
					text-indent: 465px;
					color:#313131;
					font-family: $fontW;
					font-size: 36px;
					white-space:pre;
				}
				
				.Cloudclassify{
					margin:40px auto 120px;
					
					&>li{
						.Cloudclass{
							h3{
								font-family: $fontW;
								font-size: 20px;
								text-align: left;
							}
							.cludelist{
								margin-top:25px;
								&>li{
									font-family: $fontW;
									font-size: 20px;
									line-height: 30px;

									span{
										@include radius;
										width:6px;
										height:6px;
										display:block;
										margin:12px 5px auto auto;
										float:left;
									}
								}
							}
						}

						&:nth-child(1){
							.Cloudclass{
								h3{
									color:#717074;
								}
								.cludelist{
									&>li{
										color:#717074;
										span{
											background:#717074;
										}
									}
								}
							}
						}

						&:nth-child(2){
							.Cloudclass{
								h3{
									color:#2c95dd;
								}
								.cludelist{
									&>li{
										color:#2c95dd;
										span{
											background:#2c95dd;
										}
									}
								}
							}
						}

						&:nth-child(3){
							.Cloudclass{
								h3{
									color:#124b72;
								}
								.cludelist{
									&>li{
										color:#124b72;
										span{
											background:#124b72;
										}
									}
								}
							}
						}
					}
					
				}

				.hint{
					margin:60px auto 180px;
					color:#313131;
					font-family: $fontW;
					font-size: 20px;
					text-align: center;
				}
				
				.opensource{
					width:933px;
					height:445px;
					margin:70px auto 0;
					background:url('../images/opensource.png')no-repeat center center;
					background-size:contain;
				}

				.openstack{
					width:863px;
					height:498px;
					margin:0 auto 100px;
					background:url('../images/openstack.png')no-repeat center center;
					background-size:contain;
				}
			}
		}
		
	}
}